.search-results-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .search-results {
    max-width: 1900px;
    margin: 0 auto;
    margin-top: 125px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    @media (max-width: 750px) {
      margin-top: 100px;
    }

    .searched-img {
      width: 206px;
      margin: 5px;
      margin-bottom: 20px;
      &:hover {
        opacity: 0.6;
      }
      @media (max-width: 700px) {
        width: 150px;
      }
      @media (max-width: 600px) {
        width: 125px;
      }
      @media (max-width: 1600px) {
        max-width: 406px;
      }
    }
  }

.no-results {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  h1 {
    color: #e5e5e5;
    font-family: "hindReg";
  }
}
